{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {# Ici mon menu de navigation twig nav #}

    <header class="header">
        <section class="header-section">
            <div class="header-section-div">
                <h1>Emmanuel Diop</h1>
                <h2>Développeur Web<span>, PHP et Symfony</span></h2>
            </div>
            <img src="./img/Photo-cv-noir_blanc-removebg-preview.png" alt="portrait">
        </section>   
    </header>
   {#  <main>
        <div class="main-container">
            <h2>Projets</h2>  
            <section class="projects-cards">
                
            </section>
        </div>   
    </main> #}
    
{% endblock %}
