<div class="header-container">
    <div class="header-div">
        <img class="header-div-portrait" src="./img/Photo-cv-noir_blanc-removebg-preview.png" alt="portrait miniature">
        <a  class="header-div-a" href="{{path ('app_main')}}">Manu Diop</a>           
        <nav class="header-nav">
            <a href="{{asset ('pdf/manu-diop.pdf')}}" class="header-nav_link" target="_blank">Resume</a>
            <a href="#projects" class="header-nav_link">Projects</a>
            <a href="#contact" class="header-nav_link">Contact</a>


            <a class="header-nav__logo2" href="https://www.linkedin.com/in/emmanuel-diop-9216ba43/" target="_blank">
                <img src="/img/In-Blue-26.png" alt="logo de linkedin">
            </a>
            <a class="header-nav__logo1" href="https://github.com/ManuDiop" target="_blank">
                <img src="/img/github-mark.png" alt="logo de github">
            </a>
        </nav>      
    </div>
</div>
