<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Emmanuel Diop{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/form.css') }}">
            <link rel="preconnect" href="https://fonts.bunny.net">
            <link href="https://fonts.bunny.net/css?family=el-messiri:400,500,600,700" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        {% endblock %}
    </head>

    <body>
        {% include 'partials/nav.html.twig' %}

        {% block body %}
            <!-- Ton contenu principal ici -->
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
        
        {% block footer %}
        <footer class="footer-container">
            <div class="footer-dispo">
                <p>Emmanuel Diop Copyright - 2024</p>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
